---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: jBPM Chat
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
%h1 Chat real-time
%p Please feel free to join us in our IRC, Internet Relay Chat, channel at chat.freenode.net #jbpm. We're almost always around, and this is where most of the real-time discussion about the project takes place.
%p IRC Client Recommendation
%p Please feel free to join us in our IRC, Internet Relay Chat, channel at chat.freenode.net #jbpm. We're almost always around, and this is where most of the real-time discussion about the project takes place.

%ul.icons-ul
  %li
  %i.icon-li.icon-chevron-sign-right
    %a{:href => "http://www.hydrairc.com/", :target => "blank"} HydraIrc
    if you are using windows.
  %li
  %i.icon-li.icon-chevron-sign-right
    %a{:href => "http://colloquy.info/", :target => "blank"} Colloquy
    if you are using Mac OSx.
  %li
  %i.icon-li.icon-chevron-sign-right
    %a{:href => "http://www.xchat.org/", :target => "blank"} XChat 
    if you are using Linux.

%p Can't always join the discussion? One trick is to put an IRC client on an old machine in your basement and log the channel. Then you can read the logs whenever you do have time. Freenode also provides a web-based IRC service: http://webchat.freenode.net/. Simply follow that link, input your desired nickname, and specify #jbpm. Then click login to join the fun.

%h2 General Guidelines:

%ul.icons-ul
  %li
  %i.icon-li.icon-chevron-sign-right &nbsp Don't ask if you can ask, just ask your question.
  %li
  %i.icon-li.icon-chevron-sign-right &nbsp Don't paste code to the channel, unless its a single line, use a nopaste service such as rafb
  %li
  %i.icon-li.icon-chevron-sign-right &nbsp Don't private message people, always ask your questions in the public channel.
  %li
  %i.icon-li.icon-chevron-sign-right &nbsp If you use the online irc web gateway make sure you change your nick from the "dork" default, as requested in the login page.
  %li
  %i.icon-li.icon-chevron-sign-right &nbsp If you need assistance with other JBoss products I suggest you tree irc.freenode.net #jboss and #jbosstools

%hr

/ Example Content






