---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Documentation Library
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Documentation Library

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Product
      %th Version
      %th Released
      %th 
    %tr
      %td jBPM 6
      %td 6.0
      %td 20 Nov 2013
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM 5
      %td 5.4
      %td 27 Nov 2012
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM 5
      %td 6.0
      %td 21 May 2012
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM 5
      %td 6.0
      %td 12 Dec 2011
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM 5
      %td 6.0
      %td 23 Jun 2011
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM 5
      %td 6.0
      %td 7 Feb 2011
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
    %tr
      %td jBPM 4
      %td 6.0
      %td 19 Jul 2010
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} XML Schema
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} Developer Guide
    %tr
      %td jBPM 3
      %td 6.0
      %td 15 Sep 2009
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API
    %tr
      %td jBPM BPEL
      %td 6.0
      %td 29 Nov 2007
      %td 
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/userguide/", :target => "_blank"} User Guide
        |
        %a{:href => "http://docs.jboss.org/jbpm/v6.0.1/javadocs/", :target => "_blank"} API


%hr

/ Example Content
