---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: jBPM Forum
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Forum
  %p The jBPM User Forum can be used or posting user questions and answers. Remember: answering is all based on voluntary work, so consider to contribute as many answers as you got from others to keep the system going.

  %hr

/ Example Content
