---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: jBPM License
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
%h1 jBPM License
%p jBPM is composed of quite a few different components, not all of which are being developed as part of the jBPM project. Therefore, a number of different licenses apply, depending on which component you're using.

 
%h2 jBPM Engine

%p The project is using the Apache Software License (ASL), version 2.0 [http://www.apache.org/licenses/LICENSE-2.0].

%p Previous versions of jBPM (up to jBPM 4.x) were using LGPL [http://www.opensource.org/licenses/lgpl-2.1.php] license.

 
%h2 jBPM Eclipse Designer

%p The Eclipse plugins are developed under the Eclipse Public License (EPL) [http://www.eclipse.org/legal/epl-v10.html].
 
%h2 jBPM Modeller

%p The web-based modeler is distributed under the MIT [http://www.opensource.org/licenses/mit-license.php] license.

%hr

/ Example Content
