---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Product
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Product
  %p The jBPM project is composed of a number of different components that all work together to form one integration BPM suite.  The most important ones are:

  %ul.icons-ul
    %li
    %i.icon-li.icon-chevron-sign-right &nbsp Core engine: used to execute your business processes
    %li
    %i.icon-li.icon-chevron-sign-right &nbsp Eclipse plugin: graphical modeling, development and debugging of your processes
    %li
    %i.icon-li.icon-chevron-sign-right &nbsp Designer: web-based editing of your processes
    %li
    %i.icon-li.icon-chevron-sign-right &nbsp Console: web-based mangement of your processes, user tasks, reports, etc.
    %li
    %i.icon-li.icon-chevron-sign-right &nbsp Other components that the jBPM project integrates with

  %h2 Architecture

  %p The following figure shows how the different components all work together as one BPM suite.

  %hr

/ Example Content
