---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Research
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Research
  %p jBPM is a good base for metaheuristics research. Read about some of the advantages in this article.
  %p If you’re doing academic or professional research on top of jBPM, let us know.


  %hr

/ Example Content
