---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Slides
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Slides
  %p Below are some screenshots of what all the tools look like!

  %section#carousel
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      / Carousel items
      .carousel-inner
        .active.item
          %img{:alt => "", :src => "http://static.jboss.org/common/images/carousel/carousel_img1.png"}/
        .item
          %img{:alt => "", :src => "http://static.jboss.org/common/images/carousel/carousel_img2.png"}/
        .item
          %img{:alt => "", :src => "http://static.jboss.org/common/images/carousel/carousel_img3.png"}/
      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›



  %hr

/ Example Content
