---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Sorce_Code
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Sorce Code
  %p We use Git as source control management.

  %p The blessed Dashbuilder repositories, summarized below, are hosted on GitHub.

  %p jBPM-website

  %p The source code for this website.

  %p jBPM-builder

  %p The source code for Dashbuilder itself, examples and documentation.

  %h2 Quick Start

  %p Do you want to build & run a demo from the latest sources on github.
  %p Read the quick start instructions here.
  %h2 Contributors

  %p Do you want to contribute as a developer?
  %p If so then take a closer look at the following document.

  %p Edit the sources in your favorite IDE (such as IntelliJ IDEA, Eclipse or NetBeans).
  %p Many of us prefer IntelliJ IDEA.
  %p Developed withIntelliJ IDEA

  %p Want to improve our sources?
  %p Pull requests are welcome!

  %hr

/ Example Content
