---
layout: rightcol
/ rightcol_partial: rightcol-downloads.html.haml
title: Videos
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 jBPM Video's
  %ul.icons-ul
    %li
    %i.icon-li.icon-film
      %a{:href => "http://people.redhat.com/kverlaen/install-eclipse-jbpm.swf", :target => "blank"} Getting started with Eclipse plugin using the installer
    %li
    %i.icon-li.icon-film
      %a{:href => "http://people.redhat.com/kverlaen/install-gwt-console-jbpm.swf", :target => "blank"} Getting started with jbpm-console using the installer
    %li
    %i.icon-li.icon-film
      %a{:href => "http://people.redhat.com/kverlaen/jBPM5-guvnor-integration.swf", :target => "blank"} Guvnor as the process repository
    %li
    %i.icon-li.icon-film
      %a{:href => "http://people.redhat.com/kverlaen/jBPM-migration.swf", :target => "blank"} Migration preview from jBPM3/4 to jBPM5


  %hr

/ Example Content
