.card.p-3
  .card-body
    .card-title
      %h3 Latest News
    .card-text
      %ul.list-unstyled
        - for new in site.importantNews[0,7]
          %li.mb-3
            .title
              %a{:href => new.newsUrl, :target => "_blank"}
                #{new.newsTitle}
            %div
              - if !new.newsDate?
                #{new.newsContent}
              - else
                #{new.newsDate.strftime('%a %-d %B %Y')} - #{new.newsContent}
      .small.float-end
        %a{:href => relative("/news/archive.html", page.outputPage)}
          Archive