.panel.panel-default
  .panel-heading
    %strong Latest Tweets
  .panel-body
    <a class="twitter-timeline" href="https://twitter.com/jbossjbpm?ref_src=twsrc%5Etfw" data-tweet-limit="5" data-height="300" data-chrome="noheader nofooter noborders">Latest Tweets by jBPM</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>