.card.p-3
  .card-body
    .card-title
      %h3 Latest blog posts
    .card-text
      %ul.list-unstyled
        - for post in site.posts[0,7]
          %li.mb-3
            .title
              %a{:href => relative(post.url)}
                = post.title
            .small
              = post.date.strftime('%a %-d %B %Y')
