.panel.panel-default
  .panel-heading
    %strong References Books
  .panel-body

    %a(href="http://kverlaen.blogspot.be/2015/07/book-mastering-jbpm6.html"  target="_blank")
      %img{:src => relative("/website/images/books/MasteringjBPM6.png", page.outputPage), :alt => "Mastering jBPM6"}

    %a(href="http://kverlaen.blogspot.be/2014/09/jbpm6-developer-guide.html"  target="_blank")
      %img{:src => relative("/website/images/books/jBPM6DeveloperGuide.png", page.outputPage), :alt => "jBPM6 Developer Guide"}

    %a(href="http://kverlaen.blogspot.be/2012/12/book-jbpm5-developer-guide.html"  target="_blank")
      %img{:src => relative("/website/images/books/jBPM5DeveloperGuide.png", page.outputPage), :alt => "jBPM5 Developer Guide"}

    %a(href="http://www.schabell.org/2018/03/book-launced-effective-business-process-management-with-jboss-bpm.html"  target="_blank")
      %img{:src => relative("/website/images/books/effective_bpm.png", page.outputPage), :alt => "Effective Business Process Management with JBoss BPM"}