.div
  %h3 jBPM 6.0 available
  %p jBPM 6.0 is now available!  Not only does it bring improvements to the core engine, it comes with brand new web tooling, to support developers, business users and end users in modeling, deploying, executing and managing their business processes.  It contains a new process and task management console, a data and form modeler, business activity monitoring and reporting, and much more.  Underneath powered by an execution server with new remote APIs.  Check out the
    %a{:href => "http://sourceforge.net/projects/jbpm/files/jBPM%206/jbpm-6.0.1.Final/"} downloads
    and
    %a(href="#{site.base_url}/docs.html") documentation
    section now!
  %h3 jBPM6 support in JBoss BPM Suite 6
  %p Red Hat announced the availability of JBoss BPM Suite 6. As a result, you can now get official support for developing and deploying your jBPM6 applications.  JBoss BPM Suite 6 is a super-set of JBoss BRMS 6, so you automatically get the a solution integrating business processes with business rules, complex event processing and business resource planner.  You can download a 90-day evaluation version from Red Hat Customer Portal.
  %h3 jBPM5 Developer Guide
  %p The latest book on jBPM, written by Mauricio and Esteban, is available from Packt Publishing.  More info and a link to some promotional codes here!

.well
  #badges
    %ul
      %li.license-asl
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}
          %em Apache License, Version 2.0
      %li.jsr
        %a{:href => "http://jcp.org/en/jsr/detail?id=34"}
          %span.implements JSR
          %span.version 34
      %li.tools
        %a{:href => "http://www.jboss.org/tools"} Supported by Tools
      %li.jopr
        %a{:href => "http://www.jboss.org/jopr"} Managed by RHQ
      %li.arquillian
        %a{:href => "http://www.jboss.org/arquillian"} Tested with Arquillian
    %div{:style => "clear: both; height:1px;"}

.div
  %h3 Supported In:
  %ul.supportedin
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Application Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Communications Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Portal Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        JBoss Hibernate


%div#coolstuff
  %p{:style => "margin-top: 2px; margin-bottom: 15px; margin-right: 10px; text-align: right;"}
    %a{:href => "/coolstuff/desktopwallpapers/project"}> Desktop Wallpaper
    &nbsp;|&nbsp;
    %a{:href => "#"} Project Swag
  %a{:href => "/coolstuff/desktopwallpapers/project"}
    %img{:alt => "Cool Stuff", :height => "110", :src => "http://static.jboss.org/images/infinispan/project_coolstuff_infinispan.png", :style => "margin:0 auto;", :width => "225"}/


.well.sponsors
  %h3 Sponsors
  %ul
    %li
      %a{:href => "http://www.ej-technologies.com/"}
        %img{:alt => "EJ-Technologies", :src => "http://static.jboss.org/common/images/sponsors/ejtechnologies-color.png"}/
      %p EJ-Technologies has kindly provided free JProfiler licenses.
    %li
      %a{:href => "http://www.nexb.com/"}
        %img{:alt => "NexB", :src => "http://static.jboss.org/common/images/sponsors/nexb-color.png"}/
      %p nexB is our preferred Eclipse development partner.
    %li
      %a{:href => "http://www.jetbrains.com/"}
        %img{:alt => "JetBrians", :src => "http://static.jboss.org/common/images/sponsors/intellij-color.png"}/
      %p JetBrains has kindly donated an open source IntelliJ license.
    %li
      %a{:href => "http://www.headwaysoftware.com/products/structure101/index.php"}
        %img{:alt => "Structure 101", :src => "http://static.jboss.org/common/images/sponsors/structure101-color.png"}/
      %p Structure 101 helps us to understand our project structure.
    %li
      %a{:href => "http://www.magicdraw.com/"}
        %img{:alt => "MagicDraw", :src => "http://static.jboss.org/common/images/sponsors/magicdraw-color.png"}/
      %p A Special thanks to MagicDraw for supporting the project.


%div
  %a{:href => "http://www.jboss.org/security.html"}/
  .projectpage-sprite.projectpage-sprite-securityimage

%div
  %a{:href => "http://www.jboss.org/security.html"}
    %img{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "http://static.jboss.org/common/images/securityissue.png"}/
