---
description: Release information of jBPM.
layout: normalBase
title: jBPM releases
---

%h2 Release information
.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  <strong>#{site.pom.latestFinal.version} is the latest and greatest version of jBPM.</strong>

.row
  .col-md-12

    :asciidoc
      jBPM releases a new minor version at the end of every 3-week sprint.

%ul(class="nav nav-tabs download-nav-tabs" style="margin-bottom: 10px;")
  %li(class="active")
    %a(href="#latest" data-toggle="pill") Latest release
  %li
    %a(href="#previous" data-toggle="pill") Previous releases

%div(class="tab-content download-tab-content")
  %div(id="latest" class="tab-pane fade in active")

    :asciidoc
      Complete release notes can be found in the #{site.pom.latestFinal.whatsNewVersion}[documentation].
      
      Detailed content of the release can be found in JIRA #{site.pom.latestFinal.releaseNotesVersion}[here].

  %div(id="previous" class="tab-pane fade")
    :asciidoc

      Complete release notes for older versions can be found in the #{site.pom.latestFinal.whatsNewVersion}[documentation].