---
description: Release information of jBPM.
layout: normalBase
title: jBPM releases
---

%h2 Release information
.alert.alert-info.alert-dismissible.fade.show{:role => "alert"}
  <strong>#{site.pom.latestFinal.version} is the latest and greatest version of jBPM.</strong>
  %button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

.row
  .col-md-12

    :asciidoc
      jBPM releases a new minor version at the end of every 3-week sprint.

%ul(class="nav nav-tabs download-nav-tabs")
  %li.nav-item
    %a.nav-link.active(href="#latest" data-bs-toggle="tab") Latest release
  %li.nav-item
    %a.nav-link(href="#previous" data-bs-toggle="tab") Previous releases

%div(class="tab-content download-tab-content p-3")
  %div(id="latest" class="tab-pane fade show active" role="tabpanel")

    :asciidoc
      Complete release notes can be found in the #{site.pom.latestFinal.whatsNewVersion}[documentation].
      
      Detailed content of the release can be found in JIRA #{site.pom.latestFinal.releaseNotesVersion}[here].

  %div(id="previous" class="tab-pane fade show" role="tabpanel")
    :asciidoc

      Complete release notes for older versions can be found in the #{site.pom.latestFinal.whatsNewVersion}[documentation].