---
description: Ask a question or start a discussion about jBPM
layout: normalBase
title: Get help
---

%h1 #{page.title}

.row
  .col-md-12
    :asciidoc
      [#chat]
      == Chat

      Got questions? Want to discuss an issue in real-time? Then join us on https://kie.zulipchat.com/[Zulip Chat].

      Most of our project discussion take place on these chat channels, usually during European and American daytime.  To ask a question,
      create a new topic in the jbpm stream and ask your question there.  Please give time for people to reply later, as people aren't
      always in the same timezone or might be working on something else.  Please don't send private messages to people (and follow the other
      guidelines below)!

      === Connection info

      * Join us at https://kie.zulipchat.com/[https://kie.zulipchat.com/]

        ** There are various channels you will join by default, to interact with the jBPM, Kogito, Drools and
           Optaplanner communities.  Feel free to ask questions there.  There are additional channels that you could join
           if you would like to contribute and take part of the development discussoins as well.

      === Guidelines

        * Answers can take a while. Wait at least a few hours. If no one answers, then they are busy or AFK. Try the forum instead.
        * Don't send private messages to anyone, use only the public channels. Private support is reserved for link:../product/services.html[Red Hat customers] only.
        * No need to waste time by asking _"Can I ask a question?"_. Just ask your question immediately.
        
.row
  .col-md-12
    :asciidoc
      [#issue]
      == Create an issue

      If you've found a bug,
      please open a ticket in our issue tracker _with a reproducer_:

    .text-center<
      %a.btn.btn-default.versionedButton{:href => site.issueTracker}<
        %div
          %span Create an issue in JIRA
      .small
        Do not use our issue tracker for questions.


.row
  .col-md-12
    :asciidoc
      [#customer]
      == Customer support

      Red Hat offers support for Red Hat Process Automation Manager, the enterprise version of jBPM. For a fast and detailed answer, open a support case with Red Hat.

      Red Hat sponsors this open source project by employing its core developers.
      They have a dedicated QA and support team around the enterprise version of this project.

    .text-center<
      %a.btn.btn-default.versionedButton(href="https://access.redhat.com/support/cases/#/case/new")<
        %div
          %span Open a support case
      .small
        :asciidoc
          This requires link:../product/services.html[a paid support subscription].

.row
  .col-md-12
    :asciidoc
      [#forum]
      == Forum

      If you want to ask a question, are working on a contribution or want to start an opinionated discussion, join our discussion forum
      or mail directly through mailto:jbpm-usage@googlegroups.com[jbpm-usage@googlegroups.com] or mailto:jbpm-setup@googlegroups.com[jbpm-setup@googlegroups.com]

    .text-center<
      %a.btn.btn-default.versionedButton(href="https://groups.google.com/forum/#!forum/jbpm-setup")<
        %div
          %span Start/view discussions on our forum
