---
description: Professional services for jbpm by Red Hat
layout: normalBase
title: Services
---

%h1 #{page.title}

:asciidoc

  [.summaryParagraph]
  https://www.redhat.com[Red Hat] sponsors this Open Source project and employs its link:../community/team.html[core developers]. 

  Red Hat has:

  - Solution architects that can define the best architecture for your scope and demonstrate the product functioning;
  - Services team with consultants and architects to help deliver reliable production implementations with Red Hat PAM;
  - A 24/7 support team.

-#  For more information, fill in this form or https://www.redhat.com/en/about/contact/sales[call Red Hat]:

-#.panel.panel-default
-#  .panel-body
-#    %iframe(src="https://www.redhat.com/forms/?config=jbpmFromId" style="width: 100%; height: 700px; border: none;")
  
  == Red Hat Support

  Red Hat offers enterprise support and consultancy for https://www.redhat.com/en/technologies/jboss-middleware/process-automation-manager[Red Hat Process Automation Manager], which is the enterprise product based in jBPM. 

  You can try out the enterprise bits by downloading them in the https://developers.redhat.com/products/rhpam/overview[Red Hat Developers]. 

  If you are willing to use Red Hat PAM in production environment, you should contact Red Hat in order to get a https://www.redhat.com/en/about/value-of-subscription[subscription].

:asciidoc

  == Community and enterprise comparison

  The community download delivers everything you would expect from an Open Source project,
  including all features. The enterprise subscription fills the missing gaps for enterprise use.
  Both community and enterprise use the same code base.

  |===
  | |Community |Enterprise subscription

  |*Functionality* | |
  |All features |image:checkYes.png[Yes] Includes all enterprise features too |image:checkYes.png[Yes]
  |All bugfixes |image:checkYes.png[Yes] Master branch only |image:checkYes.png[Yes] Supported maintenance branches too
  |Documentation |image:checkYes.png[Yes] |image:checkYes.png[Yes]
  |Backport bugfixes to maintenance branches |image:checkNo.png[No] Not released |image:checkYes.png[Yes] Released in maintenance releases
  |Security (CVE) watch for maintenance branches |image:checkNo.png[No] Eventually released from master branch only |image:checkYes.png[Yes] Released as backported bugfix

  |*Testing* | |
  |Unit testing |image:checkYes.png[Yes] |image:checkYes.png[Yes] On certification matrix
  |Integration testing |image:checkYes.png[Yes] |image:checkYes.png[Yes] On certification matrix
  |Stress testing |image:checkYes.png[Yes] |image:checkYes.png[Yes]
  |Performance testing and sizing |image:checkNo.png[No] |image:checkYes.png[Yes]
  |QA certification |image:checkNo.png[No] |image:checkYes.png[Yes] Cross matrix of OS's, JDK's, application containers, databases, ... See https://access.redhat.com/articles/3354301[supported configurations].

  |*Help* | |
  |Roadmap impact |image:checkYes.png[Yes] Use link:../community/getHelp.html[our forum], #{site.issueTracker}[issue tracker] or send a link:../code/sourceCode.html[Pull Request] |image:checkYes.png[Yes] Prioritized above community requests
  |Public questions |image:checkYes.png[Yes] Use link:../community/getHelp.html[Google Groups] |image:checkYes.png[Yes] Or call 24/7 support instead
  |Private 24/7 support |image:checkNo.png[No] |image:checkYes.png[Yes] https://access.redhat.com/support/contact/[By web or phone], guaranteed response time (SLA)
  |Red Hat consultancy, training and POC assistance |image:checkNo.png[No] |image:checkYes.png[Yes] Talk to your account manager

  |*Release schedule* | |
  |Stable releases |image:checkYes.png[Yes] Final usually every 3 weeks |image:checkYes.png[Yes] GA every 3 months
  |Maintenance releases |image:checkNo.png[No] Use latest instead |image:checkYes.png[Yes] Usually every 6 weeks
  |One-off release for an urgent customer critical issue |image:checkNo.png[No] |image:checkYes.png[Yes] Also rolled up in the next maintenance release

  |*Information* | |
  |Open source (link:../code/license.html[Apache License 2.0]) |image:checkYes.png[Yes] |image:checkYes.png[Yes] but distribution available from customer portal only
  |===

  To migrate from the community to product binaries, simply add the customer maven repository
  and adjust the version numbers to include the `-redhat` suffix.

  == KIE features and the enterprise products overview

  Check below the key features delivered by the projects under the KIE umbrella and how they fit the Red Hat enterprise products Red Hat Process Automation Manager and Red Hat Decision Manager.

  image:kieFunctionalityOverview.png[KIE functionality overview]
    