---
description: Business Applications beyond the basics. Documentation, tutorials, examples.
layout: normalBase
title: Business Applications - Docs, Tutorials and Examples
---

%h2 Business Applications - Docs, Tutorials and Examples

.row
  .col-md-12

  :asciidoc

    == Documentation

    Documentation provides you various topics to move beyond basics. You can read on

    * Configuring your application
    * Running your application
    * Developing your application
    * Deploying your application to OpenShift or Docker

  .text-center<
    %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.UserGuide}index.html#_overview_2")<
      %img(src = "../learn/documentation.png")
      Read documentation

  :asciidoc

    == Tutorials

    jBPM comes with tutorials (that are being constantly enahnced) to let users build more sofisticated business applications.

    Currently below are tutorials available online

    === My First Business Application

    Build and run your first business application starting from scratch.

  .row
    .col-md-12

      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.UserGuide}index.html#_my_first_business_application" target="_blank")<
          %img(src = "../learn/documentation.png")
          Open tutorial

  :asciidoc

    === Business Application with Business Assets

    Enhance your business application with business process that can be executed with directly through REST API of your
    application or by using jBPM Console web interface.

  .row
    .col-md-12

      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.UserGuide}index.html#_business_application_with_business_assets" target="_blank")<
          %img(src = "../learn/documentation.png")
          Open tutorial

  :asciidoc

    == Examples

    Examples are intended to provide fully featured sample business applications that can be used as base start. They are usually more
    advanced than tutorials as they should provide complete (end to end covered) business goal.

    Similar as tutorials there will be more coming with every release of jBPM so stay tuned and keep an eye on
    https://github.com/business-applications[Business Applications] GitHub organization. Each repository in this organization
    is fully working example of a business application.

  .row
    .col-md-12

      .text-center<
        %a.btn.btn-lg.btn-success(href="https://github.com/business-applications" target="_blank")<
          Go to examples repository
