---
layout: base
---
.row
  .col-md-9
    ~ content
  .col-md-3
    = partial('importantNews.html.haml', :outputPage => page)
    = partial('latestTweets.html.haml', :outputPage => page)
    -#= partial('events.html.haml', :outputPage => page)
    -#= partial('referencesBooks.html.haml', :outputPage => page)
