---
layout: normalBase
---
%h1
  #{page.title}
:asciidoc
  [.summaryParagraph]
  *KIE public API classes are backwards compatible* (per series),
  but users often also use implementation classes (which are documented in the reference manual too).
  This upgrade recipe _minimizes the pain_ to upgrade your code.

.row
  .col-md-7
    %h2 Legend
    %p Every upgrade note has an indication how likely your code will be affected by that change:
    %ul.upgrade-recipe-label-list
      %li
        %span.badge.bg-danger.badge-pill Major
        Likely to affect your code.
      %li
        %span.badge.bg-warning.badge-pill Minor
        Unlikely to affect your code (especially if you followed the examples), unless you have hacks.
      %li
        %span.badge.bg-info.badge-pill Impl detail
        Will not affect your code, unless you have very deep hacks.
      %li
        %span.badge.bg-primary.badge-pill Recommended
        Not a backward incompatible change, but you probably want to do this.
      %li
        %span.badge.bg-success.badge-pill Readme
        Read this to better understand why the subsequent major changes were made.

  .col-md-5
    .card
      .card-body
        .card-title
          %h3 Note for Red Hat customers
        .card-text
          %p
            The BRMS and BPM Suite version does
            %strong NOT
            match the Drools version:
          = partial('productToProjectVersionMapping.html.haml', :outputPage => page)
          %p Apply the recipe of the appropriate Drools version.

~ content
